<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ABOUT</title>
</head>
<body>
	<h1>WELCOME TO THE MOST WONDERFUL PUPPY PAGE EVER.</h1>
	<h2>MANUEL IS THE WORST.</h2>
</body>
</html>