<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Puppy Form</title>
</head>
<body>
	<form action="/puppies">
		<label for="puppyName">
			Puppy Name: <input type="text" name="puppyName">
		</label>
		<label for="puppyAge">
			Puppy Age: <input type="text" name="puppyAge">
		</label>
		<button type="submit">Add Puppy</button>
	</form>
</body>
</html>