<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Puppies</title>
</head>
<body>
<h1>Meet Your Puppy</h1>
<h3>Regarding number <%=choice.id%></h3>
				<p><%=choice.puppyName%> is <%=choice.puppyAge%> 	</p>
</body>
</html>